<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.916374315823-dffa6karhsv714ha0foo62hf9uj9b866

</string>
				<string>fb1595137965060719</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1595137965060719</string>
	<key>FacebookDisplayName</key>
	<string>Hijizli</string>
</dict>
</plist>
